<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화인트리펜션</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Darker+Grotesque:wght@400;500;600;700;800;900&family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="hd_wrap">
                <a href="" class="logo"><img src="http://placehold.it/250x70/ffffff" alt="로고"></a>
                <nav class="gnb">
                    <ul>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">ROOMS</a></li>
                        <li><a href="#">FACILITY</a></li>
                        <li><a href="#">SERVICE</a></li>
                    </ul>
                </nav>
                <div class="login_box">
                    <a href="login.jsp">로그인</a>
                    <a href="login.jsp">회원가입</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cotent1"><img src="http://placehold.it/1920x400/f2f2f2" alt="콘텐츠"></div>
            <div class="cotent1"><img src="http://placehold.it/1920x400/a2a2a2" alt="콘텐츠"></div>
            <div class="cotent1"><img src="http://placehold.it/1920x400/121212" alt="콘텐츠"></div>
        </div>
        <div class="footer">
            <div class="ft_wrap">
                <ul class="ft_info_box">
                    <li>
                        <h4 class="ft_info_tit">ABOUT</h4>
                        <p>등록명 : 화인스톤펜션</p>
                        <p>대표자 : 서지원</p>
                        <p>주소 : 경기도 가평시 OO리 123-1</p>
                    </li>
                    <li>
                        <h4 class="ft_info_tit">CONTACT US</h4>
                        <p>HP : 010-1234-1234</p>
                        <p>TEL : 031-0000-0000</p>
                        <p>E-MAIL : OOOOOO@naver.com</p>
                    </li>
                    <li style="height: ;">
                        <h4 class="ft_info_tit">BANK INFO</h4>
                        <p>계좌번호 : 12345-123-123456 <br>
                            OO은행 </p>
                        <p>예금주 : OOO</p>
                    </li>
                </ul>
            </div>    
        </div>
    </div> 
    <script>
        $(document).ready(function(){
            $("#roomBox").mouseover(function(){$("#content_box").css("height","30%");});
            $("#roomBox").mouseout(function(){$("#content_box").css("height","0%");});
        })
    </script>
</body>
</html>